<%- include('../partials/head.ejs') %>
<%- include('../partials/header.ejs', {title : 'Admin'}) %>

<div class="container">
    <div class="grid">
        <% if(blogs) { %>
        <% blogs.forEach(blog => { %>
        <div class="card" id=<%= blog._id %>>
            <div class="card-body">
                <h2 class="card-title"> <%= blog.title %> </h2>
                <p class="card-text"> <%= blog.snippet %> </p>
            </div>
            <div class="container pb-3 d-flex justify-content-between">
                <a onclick="displayBlog('<%= blog._id %>')" class="text-success pointer">read</a>
                <div>
                    <a href="/admin/edit/<%= blog._id %> "><i class="fas fa-edit text-primary mr-1"></i></a>
                    <i onclick="del('<%= blog._id %>')" class="fas fa-trash-alt text-danger pointer"></i>
                </div>
            </div>
        </div>
        <% }) %>
        <% } %>
    </div>
</div>
<a href="/admin/add"><i class="fas fa-plus-circle display-4 text-success fix"></i></a>
<script>
    function displayBlog(id) {
        window.location.href = '/blogs/blog/' + id;
    }

    function del(id) {
        fetch(`/admin/del/${id}`, {
            method: 'DELETE'
        }).then(res => window.location.reload());
    }
</script>
<%- include('../partials/tail.ejs') %>